.content-box {
	width: 1200px;	
}

.todo-list {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: space-between;
}

.todo-item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex-grow: 1;
	border-bottom: 1px solid #EEEEEE;
	input.item-col, select.item-col {
		margin: 0 2px;
		padding: 10px;
	}
	.item-col {
		flex-grow: 1;
		flex-basis: 0;
		text-align: left;
		padding: 14px;
		border:none;
		font-size: 14px;
		font-weight: 300;
		color: #000000;
		&:last-child {
			text-align: center;
		}
		.task-btn {
			color: #000000;
			margin-left: 10px;
		}
	}
	.col-title {
		border-right: 1px solid #ffffff;
		background-color: #4fc1e9;
		color: #ffffff;
		font-size: 14px;
		font-weight: 500;
		&:last-child {
			border: none;
		}
	}
}