<mat-card class="gmap-wrapper">
  <mat-card-title>Bermuda Triangle Map</mat-card-title>

  <mat-form-field>
    <mat-select [(value)]="selectPoint" (selectionChange)="selectOnChange($event)">
      <mat-option *ngFor="let coord of triangleCoords" [value]="coord">
        {{ coord.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <agm-map 
  [latitude]="center.lat" 
  [longitude]="center.lng"
  [zoom]="zoom"> <!-- *ngFor="let coord of triangleCoords" -->
    <agm-marker 
    *ngIf="selectPoint"
    [latitude]="selectPoint.lat" 
    [longitude]="selectPoint.lng"
    [iconUrl]="markerUrl"
    [draggable]="selectPoint.draggable">

    <agm-snazzy-info-window 
    [maxWidth]="infoOptions.maxWidth" 
    [border]="infoOptions.border"
    [borderRadius]="infoOptions.borderRadius"
    [closeOnMapClick]="infoOptions.closeOnMapClick"
    [closeWhenOthersOpen]="infoOptions.closeWhenOthersOpen"
    [padding]="infoOptions.padding"
    >
      <ng-template>
        <strong>{{ selectPoint.label }}</strong>,<br>
        <strong>lat:</strong> {{ selectPoint.lat }},<br>
        <strong>lng:</strong> {{ selectPoint.lng }}
      </ng-template>
    </agm-snazzy-info-window>

  </agm-marker>

  <!-- <agm-polyline
  [strokeWeight]="1">

    <agm-polyline-point
      *ngFor="let coord of triangleCoords"
      [latitude]="coord.lat" 
      [longitude]="coord.lng">
    </agm-polyline-point>

    <agm-polyline-point
      [latitude]="triangleCoords[0].lat" 
      [longitude]="triangleCoords[0].lng">
    </agm-polyline-point>

  </agm-polyline> -->

  <agm-polygon
  [paths]="triangleCoords"></agm-polygon>

  </agm-map>
</mat-card>